extends layout 

block content 

  h1=title 
  form( method="post")
    include form-errors
    include form 
    p 
    input(type="submit" value="Make New Book")
    p 
    a.button(href="/books") Cancel